/* First Page CSS */
.contain-first-page {
    width: 100%;
    height: 90dvh;
    display: flex;
}

.first-page-box {
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
    position: relative;
}

.contain-gradients {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gradient1 {
    height: 100%;
    width: 100%;
    background: linear-gradient(#6D0871, #FF5C01);
    opacity: 100%;
    position: inherit;

}
.gradient2 {
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, #D77B26, #C0593A, #342153);
    opacity: 85%;
    position: inherit;
}

.gradient3 {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #D77B26, #C0593A, #342153);
    opacity: 85%;
    position: inherit;
}

.hackmerced-tower {
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: -600px;
    left: 100px;
    animation: pop-up .8s ease-in-out forwards;
    /*animation: bop 4s ease-in-out infinite;*/
    z-index: 1001;
}

.background-buildings {
    object-fit: cover;
    z-index: 1000;
    position: absolute;
    right: -50px;
}

.background-buildings2 {
    position: absolute;
    object-fit: cover;
    z-index: 1000;
}

.text-contents {
    display: flex;
    flex-direction: column;
    z-index: 1001;
    color: #FFFF;
    font-family: sans-serif;
    position: absolute;
    right: 200px;
    top: 50px;
}

.social-link {
    display: flex;
    position: relative;
    align-items: center;
    right: -500px;
    transition: 0.3s;
}

.social-link:hover {
    color: #f3934a;
    text-shadow: 0 0 20px #ff0000;
}

.socials-logo {
    font-size: 30px;
    margin-right: 10px;
    color: #FFFF !important;
}


.first-page-links {
    text-decoration: none;
}

.first-page-link-1 {
    animation: slide-left 1s ease-in-out forwards;
}

.first-page-link-2 {
    animation: slide-left 1.2s ease-in-out forwards;
}

.first-page-link-3 {
    animation: slide-left 1.4s ease-in-out forwards;
}




/* Animations */
@keyframes pop-up {
    100% {
        bottom: 0px;
    }
}

@keyframes slide-left {
    100% {
        right: 0px;
    }
}