
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Unbounded:wght@300;400&display=swap');


.html{
  overflow-y: hidden;
}
.App {
  text-align: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}
.Tracks{
  background: radial-gradient(50% 50% at 50% 50%, #D801DC 0%, #FF7676 100%);
  background-blend-mode: overlay;
  mix-blend-mode: normal;
  backdrop-filter: blur(6px);
  color:white;
  height: 75vh;
  max-width: 100vw;
  align-items: center;
  text-align: center;
  
}
.Tracks-title{
  margin-top: 0;
  font-family: 'Unbounded';
  font-weight: normal;
  margin-bottom: 2em;
  padding-top: 3em;
  left: 10rem;
  position: absolute;
  text-align: left;
}
.Tracks-Flex{
  justify-content: center;
  display: flex;
  
}
.Track-Card{
  background: linear-gradient(170.14deg, rgba(37, 18, 18) 1.13%, rgba(143, 26, 26) 104.83%);
  height: 35vh;
  width: 20vw;
  padding:2em;
  padding-top: 5vh;
  margin:1em;
  margin-top: 20vh;
  opacity: .7;
}
.Track-Name{
  color: #FFFFFF;
  font-family: 'Unbounded';
}
.Track-Text{
  padding-top: 2vh;
  margin:1vw;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 50;
  font-size: 0.9em;
  text-align: center;
  color: #FFFFFF;
}
.Track-Logo{
  filter: drop-shadow(0px 0px 40px #FF5E54);
  padding-top: 5vh;
  height: 7vh;
  width: 7vw;
  
}

.FAQ{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em 0;
  background: linear-gradient(180deg, #FF5E5E 0%, #AD11BB 100%);
}

.FAQ-container{
  width: 80vw;
}

.FAQ-grid{
  margin: 0;
}

.FAQ-container .title{
  font-family: 'Unbounded';
  font-weight: normal;
  width: fit-content;
  margin-top: 0;
  margin-bottom: 3em;
  color: white;
}

.FAQ-accordion{
  border: 2px solid #E0B8FF;
  background: linear-gradient(122.2deg, #301942 -0.42%, #B01F69 126.58%);;
}

.FAQ-container .FAQ-accordion.MuiAccordion-root {
  border-radius: 1.875em;
}

.FAQ-summary{
  flex-direction: row-reverse;
}

.FAQ-summary .MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: rotate(90deg);
}
.accordion-link{
  color: white; 
}

.accordion-title{
  font-family: 'DM Sans';
  font-weight: bold;
  font-size: 1em;
  color: white;
  text-align: left;
  margin: 0;
}

.accordion-description{
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 0.9em;
  color: white;
  text-align: left;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar{
  position: sticky;
  width: 100%;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-bottom:3rem;
  background: linear-gradient(122.2deg, #301942 -0.42%, #B01F69 126.58%);
  /* background-color: red; */
  z-index: 2;
}
.nav-items{
  display: flex;
  align-items: baseline;
  position: absolute;
  right: 1rem;
  margin-top: 0.8rem;
}
.nav-items > li{
  margin-right: 3rem;
  list-style-type: none;
}
.button{
  background: none;
  border: none;
  font-size: 1em;
  transition-duration: 0.4s;
  color: white;
}
.registerButton{
  background-color: #FF7676;
  border: 0.12rem solid #FF7676;
  border-radius: 3rem;
  padding:0.8rem;
  padding-bottom: 1rem;
  width:8rem;
  text-align: center;
  font-size: 1em;
  transition-duration: 0.4s;
  color: white;
}
.button:hover{
  color:#AD0624;
  cursor: pointer;
}
.registerButton:hover{
  background-color: #FFFFFF;
  color:#AD0624;
  border: 0.18rem solid #AD0624;
  cursor: pointer;
  transform: translate(0.1rem, -0.1rem);
}

.MainPage{
  background-color: #B61255;
  background: radial-gradient(89.01% 89.01% at 72.01% 35.06%, #D83F0E 0%, #AD066A 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-blend-mode: overlay;
  mix-blend-mode: normal;
  position:relative;
  display: flex;
  width: 100%;
  height: 100vh;
  font-size: calc(1em + 2vmin);
  font-family: 'Unbounded';
  
 
}
.Main-text{
  position: absolute;
  text-align: left;
  left:10rem;
  top:10rem;
  filter: drop-shadow(0px 0px 40px #FF5E54);
}
.Main-video{
  min-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
  overflow-y: hidden;
}
.Main-title{
  color:#FFFFFF;
}
.Main-subtitle{
  color:#FFFFFF;
}
.Main-sub2{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.registerButton2{
  font-family: 'Unbounded';
  background-color: #FFFFFF;
  border: 0.18rem solid black;
  border-radius: 100px;
  color: #B61255;
  width: 15rem;
  height:2rem;
  transition-duration: .4s;
  border: none;
}
.registerButton2:hover{
  background-color: #AD0624;
  border: 0.18rem solid white;
  color: #FFFFFF;
  cursor: pointer;
  transform: translate(0.1rem, -0.1rem);
  border: none;
}

/*MOBILE VIEWPORTS*/
@media screen and (min-width: 300px) and (max-width: 880px) {
  .MainPage{
    overflow-y: hidden;
    display: block;
  }
  .Main-video{
    z-index: -2;
  }
  .Main-text{
    left:auto;
    padding-left: 1em;
    font-size: smaller;
    z-index: 3;
  }
  .nav-items{
    left: 0;
  }
  .nav-items > li{
    margin-right: 1.5em;
  }
  .Tracks-Flex{
    display: inline-block;
    
  }
  .Track-Card{
    width: auto;
    padding-top: 0;
    margin-top: 0;
  }
  .Tracks{
    height: auto;
    margin-top: 0;
    padding-top: 0;
  }
  .Tracks-title{
    position: inherit;
    text-align: center;
  }
  .FAQ-accordion{
    position: relative;
    flex-direction: column;
  }
  .MuiGrid2-root.FAQ-grid{
    display: block;
    columns: 1;
    gap: 0rem;
   
  }
  .FAQ-accordion{
    width: 80vw;
  }

}
