.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  background-color: #452847;
  height: 20vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Tracks{
  background-color: #dc9016;
  height: 50vh;
}
.FAQ{
  height: 50vh;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
