
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,400;1,700&display=swap');


.html{
  overflow-y: hidden;
}
.App {
  min-height: 100vh;
  font-family: 'K2D';
}

.App-link {
  color: #61dafb;
}

a {
  color: white;
}

.Tracks, .About-HM{
  background: radial-gradient(50% 50% at 50% 50%, #CF8139, #C0593A, #342153);
  background-blend-mode: overlay;
  mix-blend-mode: normal;
  backdrop-filter: blur(6px);
  color:white;
  height: fit-content;
  max-width: 100vw;
  align-items: center;
  text-align: center;
  padding-bottom: 10vh ;
  
}
.Tracks-title, .About-HM-Title{
  margin-top: 0;
  font-family: 'K2D';
  font-weight:bold;
  margin-bottom: 2em;
  margin-left: 11%;
  padding-top: 3.5em;
  text-align: left;
  position: absolute;
  
}
.Tracks-Flex, .About-HM-Contents  {
  justify-content: center;
  display: flex;
  padding-top: 1rem;
}
.Track-Card, .About-HM-Desc, .Team-photo{
  box-shadow: inset rgb(49, 49, 49) 0px 0px 60px -12px;
  background: linear-gradient(170.14deg, rgba(37, 18, 18) 1.13%, rgba(143, 26, 26) 104.83%);
  width: 20vw;
  padding:2em;
  padding-top: 5vh;
  margin:1em;
  margin-bottom: 5vh;
  margin-top: 20vh;
  border-image: linear-gradient(180deg,#342153, #C0593A, #CF8139) 30 / 1rem;
  border-style: groove;
  border-radius: 0 !important;
  position: relative;
}
.Track-Name{
  color:#FF5E54;
  font-family: 'K2D';
}
.Track-Text, .About-HM-Text{
  padding-top: 2vh;
  margin:1vw;
  font-family: 'K2D';
  font-style: normal;
  font-weight: 50;
  font-size: 0.9em;
  text-align: center;
  color:white;
}
.Track-Logo{
  filter: drop-shadow(0px 0px 10px #FF5E54);
  min-height: 10vh;
  width: 10vw;
  margin-top:5vh;
  
}
.Sponsors{
  height:0;
  background: radial-gradient(60% 45% at 50% 60%,#342153, #C0593A, #CF8139);
  background-blend-mode: overlay;
  mix-blend-mode: normal;
  backdrop-filter: blur(6px);
  color:white;
  height:fit-content;
  max-width: 100vw;
  align-items: center;
  text-align: center;
}
.Sponsors-Logo{
  width: 70vw;
  left: 121px;
  padding-top: 4em;
  padding-bottom: 5.5em;
}
.Sponsors-Description{
  left: 10vw;
  position: absolute;
  font-family: 'K2D';
  font-style: normal;
  font-weight: 500;
  font-size: 1.2em;
  margin-right: 10vw;
  text-align: left;
}
.Sponsors-title{
  margin-top: 0;
  font-family: 'K2D';
  font-weight: normal;
  padding-top: 3em;
  text-align: left;
  padding-left: 10vw;
}

.FAQ, .Team{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em 0;
  background: linear-gradient(180deg,#342153, #C0593A, #CF8139);
}

.FAQ-container{
  width: 80vw;
}

.FAQ-grid{
  margin: 0;
}

.FAQ-container .title{
  font-family: 'K2D';
  font-weight: normal;
  width: fit-content;
  margin-top: 0;
  margin-bottom: 3em;
  color: white;
}

.FAQ-accordion{
  border: 2px solid #E0B8FF;
  background: linear-gradient(122.2deg, #301942 -0.42%, #B01F69 126.58%);;
}

.FAQ-container .FAQ-accordion.MuiAccordion-root {
  border-radius: 1.875em;
}

.FAQ-summary{
  flex-direction: row-reverse;
}

.FAQ-summary .MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: rotate(90deg);
}
.accordion-link{
  color: white; 
}

.accordion-title{
  font-family: 'K2D';
  font-weight: bold;
  font-size: 1em;
  color: white;
  text-align: left;
  margin: 0;
}

.accordion-description{
  font-family: 'K2D';
  font-style: normal;
  font-size: 0.9em;
  color: white;
  text-align: left;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar{
  position: sticky;
  width: 100%;
  height: 1.5rem;
  align-content: center;
  padding-bottom:3rem;
  background: linear-gradient(122.2deg, #301942 -0.42%, #B01F69 126.58%);
  z-index: 2;
}
.nav-items{
  display: flex;
  align-items: baseline;
  position: absolute;
  right: 1rem;
  margin-top: 0.8rem;
}

.nav-items .button, .nav-items .registerButton{
  font-family: 'K2D';
  font-weight: bold;
  font-size: 1em;
}

.nav-items > li{
  margin-right: 2.5rem;
  list-style-type: none;
}
.button{
  background: none;
  border: none;
  font-size: 1em;
  transition-duration: 0.4s;
  color: white;
}
.registerButton{
  background-color: #342153;
  border: 0.12rem solid #342153;
  border-radius: 3rem;
  padding:0.8rem;
  padding-bottom: 1rem;
  width:8rem;
  text-align: center;
  font-size: 1em;
  transition-duration: 0.4s;
  color: white;
}
.button:hover{
  color:#AD0624;
  cursor: pointer;
}
.registerButton:hover{
  background-color: #FFFFFF;
  color:#AD0624;
  border: 0.18rem solid #AD0624;
  cursor: pointer;
  transform: translate(0.1rem, -0.1rem);
}

.MainPage{
  background-color: #000000; 
  background-blend-mode: overlay;
  mix-blend-mode: normal;
  display: flex;
  width: 100%;
  height: 100vh;
  font-size: calc(1em + 2vmin);
  font-weight: bold;
  overflow-x:hidden;
 justify-content: center;
}
.Main-text-background{
  width: 100vw;
  height: 90vh;
  background-repeat: round;
  background-size: 100% 90%;
  filter: drop-shadow(0px 0px 40px #FF5E54);
  background-image: url('./Assets/background.png') ;
  transform: scale(90%);
}
.Main-text{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}
.Main-title{
  color:#FFFFFF;
  transition-duration: 0.4s;
  animation: glide-in 0.2s ease-out 1;
}
@keyframes glide-in {
  0%{
    filter: blur(100px) opacity(10%);
    transform:translateY(-30rem)
  }
  100%{
    filter: blur(0px) opacity(100%);
    transform:translateY(0rem)
  }
}
.Main-title:hover{
  transition-duration: 1s;
  transform: scale(103%);
  filter: drop-shadow(0px 0px 10px #FF5E54) saturate(150%);
}
.Main-subtitle{
  color:#FFFFFF;
  display: flex;
  text-align: center;
  animation: glide-in 0.3s ease-out 1;
}
.Main-sub2{
  font-style: small;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.Main-footer{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  animation: glide-in 0.5s ease-out 1;
}
.Main-footerlink{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #dbbaf0;
  padding-left: 5px;
  text-decoration: wavy;
  animation: glide-in 0.6s ease-out 1;
}
.emailEmoji{
  padding-left: 0.4rem;
  filter: grayscale(100%);
  animation: glide-in 0.7s ease-out 1;
}
.Main-footerlink:hover{
  color: #B01F69;
  transition-duration: 0.4s;
}
.Main-footerlink:hover .emailEmoji{
  transition-duration: 0.4s;
  transform: rotateY(360deg) scale(150%);
  filter: grayscale(0%);
}

.registerButton2{
  font-family: 'K2D';
  font-weight: bold;
  font-size: 2rem;
  background-color: #342153; 
  box-shadow: 17px 22px #C0593A;
  border-radius: 100px;
  color: white;
  width: 50vw;
  height:10vh;
  transition-duration: .4s;
  border: none;
  animation: glide-in 0.4s ease-out 1;
}
.registerButton2:hover{
  background: linear-gradient(122.2deg, #301942 -0.42%, #7a4332 100%);
  border: 0.18rem solid white;
  color: #FFFFFF;
  cursor: pointer;
  transform: translate(0.1rem, 0.1rem);
  border: none;
  filter: saturate(200%);
}

.registerButton2Stars{
  position: relative;
}
#star{
  /* display: none; */
  color: white;
  filter:blur(0.1rem) opacity(0%);
  position: absolute;
  font-size: .5em;
  top: 50%;
  right: 50%;
}
@keyframes move-stars-x {
  0% {
    transform: translateX(-20vw);
    filter: blur(0.1rem) opacity(0%);
  }
  10%{
    filter: blur(0.1rem) opacity(100%);
  }
  99.9%{
    filter: blur(0.1rem) opacity(100%);
  }
  100% {
    transform: translateX(20vw);
    filter: blur(0.1rem) opacity(0%);
  }
}
@keyframes move-stars-y {
  0% {
    transform: translateY(0rem);
  }
  12.5% {
    transform: translateY(-10rem);
  }
  25% {
    transform: translateY(0rem);
  }
  37.5% {
    transform: translateY(-10rem);
  }
  50% {
    transform: translateY(0rem);
  }
  62.5% {
    transform: translateY(-10rem);
  }
  75% {
    transform: translateY(0rem);
  }
  87.5% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
.registerButton2:hover ~ .starWrapper #star{
  display: block;
}
.registerButton2:hover ~ .starWrapper{
  animation: move-stars-y 1.8s ease-in-out 2;

}
.registerButton2:hover ~ .starWrapper .star1{
  animation: move-stars-x 1s ease-in-out 1 both;

}
.registerButton2:hover ~ .starWrapper .star2{
  animation: move-stars-x 1.2s ease-in-out 1s 1 both;

}
.registerButton2:hover ~ .starWrapper .star3{
  animation: move-stars-x 1.6s ease-in-out 2s 1 both;

}
.starBursts{
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  font-size: 0px;
}
.registerButton2:hover ~ .starBursts .starBurst1{
  animation: starburst 1s linear 0.93s backwards;
}
.registerButton2:hover ~ .starBursts .starBurst2{
  animation: starburst 1s linear 2.2s backwards;
}
.registerButton2:hover ~ .starBursts .starBurst3{
  animation: starburst 1s linear 3.6s backwards;
}
@keyframes starburst {
  0%{
    font-size: 4rem;
    display: none;
    transform: rotate(0deg);
  }
  0.1%{
    display: flex;
  }
  100%{
    display: none;
    transform: rotate(360deg);
  }
}
.Footer-Comp{
  position: relative;
  display: flex;
  padding-bottom: 2rem;
  color: white;
  font-family: 'K2D';
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;
  max-width: 100vw;
  min-height: 33vh;
  background: linear-gradient(180deg, #CC7F3A, #C0593A, #342153);
}
.Footer-container{
  padding-top: 10vh;
  display: flex;
}
.Footer-socialmedia{
  text-align: left;
  padding-left: 10%;
  
}
.Footer-Vector{
  padding-left: 40vw;
}
.Footer-Logo{
  padding-right: 1em;
}
.Footer-description{
 padding-left: 1.5em;
  text-align: left;
}
/*TEAM SECTION*/
.Team-container{
  min-height: 70vh;
  width: 80vw;
  top: 4rem;
  position: relative;
}
.title{
  text-align: left;
}
.Team-container .title{
    height: 10vh;
    font-family: 'K2D';
    font-weight: normal;
    width: fit-content;
    margin-top: 0rem;
    position: absolute;
    top: -3.5rem;
    left: 1.5rem;
    color: white;
}
.MuiGrid-root.MuiGrid-item{
  padding-left: none;
}
.Team-individual{
  padding: 1em;
  
}
.Team-Flex{
  display: flex;
  align-items: flex-start;
  flex-direction:row;
  justify-content: center;
}

.Team-Img{
  border-radius: 50%;
  max-height: 20vh;
  max-width: 20vw;
  overflow: hidden;
  filter: drop-shadow(0px 0px 10px #FF5E54) saturate(150%);
}
.Team-Name{
  color: #FFFFFF;
  font-family: 'K2D';
}
/*CONTACT US*/
.Contact-Us-container{
  height: 80vh;
}
/*ABOUT US*/
.About-HM-Title{
  padding-top: 4em;
}
.About-HM-Contents{
  display:flex;
}
.About-HM-Desc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.About-HM-Text{
  padding: 0;
  font-size: large;
  text-align: center;
}
.Team-photo{
  width:50vw;
  height: auto;
}
#mlh-trust-badge{
  left: 50px;
}
/*MOBILE VIEWPORTS*/
@media screen and (min-width: 300px) and (max-width: 880px) {
  .MainPage{
    overflow-y: hidden;
    display: block;
  }
  .Main-video{
    padding-left: 0;
    position:sticky;
    left:0;
    z-index: 1;
    overflow: hidden;
  }
  .Main-video:-webkit-scrollbar {
    display: none;
   
  }
  .Main-text-background{
    padding: inherit;
    font-size: smaller;
  }
  .Main-text{
    padding: 2rem;
  }
  .title-flair{
    display: block;
  }

  .Main-footer{
    display: block;
    padding-right: 1rem;
  }
  .Main-footerlink{
    margin: -1rem;
    padding-left: 1rem;
  }
  .NavBar{
    display: flex;
    align-items: center;
  }
  .nav-items{
    margin-top: 3.5em;

  }
  .nav-items > li{
    margin-right: 0.8vw;
    font-size: 0.8rem;
    border: hidden;
  }
  .registerButton{
    border-radius: 3rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 1em;
    width: 4rem;
  }
  .registerButton:hover{
    background-color: #FFFFFF;
    color:#AD0624;
    border: 0.18rem solid #AD0624;
    cursor: pointer;
  }
  .registerButton2{
    margin: 2rem;
    height: 10vh;
    width: 15rem;
    font-size: x-large;
  }
  .Team-Flex, .About-HM-Contents{
    flex-direction: column;
    height: fit-content;
  }
  .About-HM-Desc{
    width: auto;
  }
  .Team-photo{
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  .Team-container .title{
    height: 0;
    padding-bottom: 3em;
    padding-left: 0;
    left: 0;
  }
  .Team-Img{
    overflow: visible;
    max-width: none;
  }
  .Team-Name{
    padding-top: 5em;
  }
  .Team-individual{
    display: flex;
    margin-bottom: 2em;
    gap:5vw;
  }
  .Team-container{
    height: max-content;
  }
  .MuiGrid-root.Team-Flex{
    display: block;
    columns: 1;
    gap: 0rem;
   
  }
  .Tracks-Flex{
    display: inline-block;
  }
  .Track-Card{
    width: auto;
  }
  .Tracks{
    height: auto;
    margin-top: 0;
    padding-top: 0;
    z-index: 3;
    position: relative;
  }
  .Tracks-title .title{
    text-align: left;
    padding-left:1.5em;
    position:initial;
  }
  .Tracks-title {
    margin-left: 7%;
  }
  .FAQ-accordion{
    position: relative;
    flex-direction: column;
  }
  .MuiGrid2-root.FAQ-grid{
    display: block;
    columns: 1;
    gap: 0rem;
   
  }
  .FAQ-accordion{
    width: 80vw;
  }
  .FAQ{
    position: relative;
    z-index: 3;
    text-align: left;
  }
  .Footer-Vector{
    padding-left: 3em;
  }
  .Footer-socialmedia{
    padding-left: 1.5em;
  }
  .Footer-container{
    padding-top: 3vh;
  }
  .Footer-description{
    padding-left: 2em;
  }
  .Sponsors-Logo{ 
    margin-top: 15vh;
    width: 80vw;
  }
  .Tracks{
    padding-bottom: 0;
  }
  .Track-Card{
    max-width: 70vw;
  }
  .Track-Logo{
    height: auto;
    width: auto;
  }
  .Contact-Us-container{
    height: auto;
  }
  #mlh-trust-badge{
    left: 0px;
  }
  #mlh-trust-badge img{
    width:max-content;
  }
}
