
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Unbounded:wght@300;400&display=swap');


.html{
  overflow-y: hidden;
}
.App {
  text-align: center;
  min-height: 100vh;
 
}

.App-link {
  color: #61dafb;
}

a {
  color: #FF7676;
}

.Tracks{
  background: radial-gradient(50% 50% at 50% 50%, #D801DC 0%, #FF7676 100%);
  background-blend-mode: overlay;
  mix-blend-mode: normal;
  backdrop-filter: blur(6px);
  color:white;
  height: fit-content;
  max-width: 100vw;
  align-items: center;
  text-align: center;
  padding-bottom: 10vh ;
  
}
.Tracks-title{
  margin-top: 0;
  font-family: 'Unbounded';
  font-weight: normal;
  margin-bottom: 2em;
  margin-left: 11%;
  padding-top: 3.5em;
  text-align: left;
  position: absolute;
}
.Tracks-Flex{
  justify-content: center;
  display: flex;
  padding-top: 1.5rem;
}
.Track-Card{
  background: linear-gradient(170.14deg, rgba(37, 18, 18) 1.13%, rgba(143, 26, 26) 104.83%);
  width: 20vw;
  padding:2em;
  padding-top: 5vh;
  margin:1em;
  margin-bottom: 5vh;
  margin-top: 20vh;
  opacity: .7;

  position: relative;
}
.Track-Name{
  color: #FFFFFF;
  font-family: 'Unbounded';
}
.Track-Text{
  padding-top: 2vh;
  margin:1vw;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 50;
  font-size: 0.9em;
  text-align: center;
  color: #FFFFFF;
}
.Track-Logo{
  filter: drop-shadow(0px 0px 40px #FF5E54);
  min-height: 10vh;
  min-width: 10vw;
  margin-top:5vh;
  
}
.Sponsors{
  height:0;
  background: radial-gradient(50% 50% at 50% 50%, #D801DC 0%, #FF7676 100%);
  background-blend-mode: overlay;
  mix-blend-mode: normal;
  backdrop-filter: blur(6px);
  color:white;
  height:fit-content;
  max-width: 100vw;
  align-items: center;
  text-align: center;
}
.Sponsors-Logo{
  width: 50vw;
  left: 131px;
  padding-top: 5em;
  padding-bottom: 5em;
}
.Sponsors-Description{
  left: 10vw;
  position: absolute;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1.2em;
  margin-right: 10vw;
  text-align: left;
}
.Sponsors-title{
  margin-top: 0;
  font-family: 'Unbounded';
  font-weight: normal;
  padding-top: 3em;
  text-align: left;
  padding-left: 10vw;
}

.FAQ, .Team{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5em 0;
  background: linear-gradient(180deg, #FF5E5E 0%, #AD11BB 100%);
}

.FAQ-container{
  width: 80vw;
}

.FAQ-grid{
  margin: 0;
}

.FAQ-container .title{
  font-family: 'Unbounded';
  font-weight: normal;
  width: fit-content;
  margin-top: 0;
  margin-bottom: 3em;
  color: white;
}

.FAQ-accordion{
  border: 2px solid #E0B8FF;
  background: linear-gradient(122.2deg, #301942 -0.42%, #B01F69 126.58%);;
}

.FAQ-container .FAQ-accordion.MuiAccordion-root {
  border-radius: 1.875em;
}

.FAQ-summary{
  flex-direction: row-reverse;
}

.FAQ-summary .MuiAccordionSummary-expandIconWrapper.Mui-expanded {
  transform: rotate(90deg);
}
.accordion-link{
  color: white; 
}

.accordion-title{
  font-family: 'DM Sans';
  font-weight: bold;
  font-size: 1em;
  color: white;
  text-align: left;
  margin: 0;
}

.accordion-description{
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 0.9em;
  color: white;
  text-align: left;
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar{
  position: sticky;
  width: 100%;
  height: 1.5rem;
  align-content: center;
  padding-bottom:3rem;
  background: linear-gradient(122.2deg, #301942 -0.42%, #B01F69 126.58%);
  /* background-color: red; */
  z-index: 2;
}
.nav-items{
  display: flex;
  align-items: baseline;
  position: absolute;
  right: 1rem;
  margin-top: 0.8rem;
}

.nav-items .button, .nav-items .registerButton{
  font-family: 'DM Sans';
  font-weight: bold;
  font-size: 1em;
}

.nav-items > li{
  margin-right: 2.5rem;
  list-style-type: none;
}
.button{
  background: none;
  border: none;
  font-size: 1em;
  transition-duration: 0.4s;
  color: white;
}
.registerButton{
  background-color: #FF7676;
  border: 0.12rem solid #FF7676;
  border-radius: 3rem;
  padding:0.8rem;
  padding-bottom: 1rem;
  width:8rem;
  text-align: center;
  font-size: 1em;
  transition-duration: 0.4s;
  color: white;
}
.button:hover{
  color:#AD0624;
  cursor: pointer;
}
.registerButton:hover{
  background-color: #FFFFFF;
  color:#AD0624;
  border: 0.18rem solid #AD0624;
  cursor: pointer;
  transform: translate(0.1rem, -0.1rem);
}

.MainPage{
  background-color: #B61255;
  background: radial-gradient(89.01% 89.01% at 72.01% 35.06%, #D83F0E 0%, #AD066A 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-blend-mode: overlay;
  mix-blend-mode: normal;
  position:relative;
  display: flex;
  width: 100%;
  height: 100vh;
  font-size: calc(1em + 2vmin);
  font-family: 'Unbounded';
  overflow-x:hidden;
 
}
.Main-text{
  position: absolute;
  text-align: left;
  left:10rem;
  top:10rem;
  filter: drop-shadow(0px 0px 40px #FF5E54);
  z-index: 3;
}
.Main-text-background{
  color: none;
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(143, 26, 26) 0%, #FF7676 100%);
  border-radius: 5%;
  /* width: 45rem; */
  width: 115%;
  height: 100%;
  /* height: 26rem; */
  left:-3rem;
  filter: opacity(50%) blur(5px);
  z-index: -3;
}
.Main-video{
  min-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
  overflow-y: hidden;
}
.Main-title{
  color:#FFFFFF;
  transition-duration: 0.4s;
}
.Main-title:hover{
  transition-duration: 1s;
  transform: scale(103%);
  filter: drop-shadow(0px 0px 10px #FF5E54) saturate(150%);
}
.Main-subtitle{
  color:#FFFFFF;
}
.Main-sub2{
  font-family: 'DM Sans';
  font-style: small;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.Main-footer{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  
}
.Main-footerlink{
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #dbbaf0;
  padding-left: 5px;
  text-decoration: wavy;
}
.emailEmoji{
  padding-left: 0.4rem;
  filter: grayscale(100%);
}
.Main-footerlink:hover{
  color: #B01F69;
  transition-duration: 0.4s;
}
.Main-footerlink:hover .emailEmoji{
  transition-duration: 0.4s;
  transform: rotateY(360deg) scale(150%);
  filter: grayscale(0%);
}

.registerButton2{
  font-family: 'Unbounded';
  background-color: #FFFFFF; 
  border: 0.18rem solid black;
  border-radius: 100px;
  color: #B61255;
  width: 15rem;
  height:2rem;
  transition-duration: .4s;
  border: none;
}
.registerButton2:hover{
  background: linear-gradient(122.2deg, #301942 -0.42%, #B01F69 126.58%);
  border: 0.18rem solid white;
  color: #FFFFFF;
  cursor: pointer;
  transform: translate(0.1rem, -0.1rem);
  border: none;
  filter: saturate(200%);
}

#star{
  display: none;
  color: white;
  filter:blur(0.1rem);
  position: absolute;
  font-size: .5em;
  top: 16.8rem;
}
@keyframes move-stars {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(14rem);
  }
  100% {
      transform: translateX(0);
  }
}
.registerButton2:hover ~ #star{
  display:block;
}
.registerButton2:hover ~ .star1{
  animation: move-stars 2s ease-in-out infinite;
  display:block;
}
.registerButton2:hover ~ .star2{
  animation: move-stars 1.5s ease-in-out infinite;
}
.registerButton2:hover ~ .star3{
  animation: move-stars 1s ease-in-out infinite;
}
.Footer-Comp{
  position: relative;
  padding-bottom: 2rem;
  color: #E0B8FF;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;
  max-width: 100vw;
  min-height: 33vh;
  background: linear-gradient(97.23deg, #60164D 4.27%, #6A2047 97.05%);
}
.Footer-container{
  padding-top: 10vh;
  display: flex;
}
.Footer-socialmedia{
  text-align: left;
  padding-left: 10%;
  
}
.Footer-Vector{
  padding-left: 40vw;
}
.Footer-Logo{
  padding-right: 1em;
}
.Footer-description{
 padding-left: 1.5em;
  text-align: left;
}
/*TEAM SECTION*/
.Team-container{
  min-height: 70vh;
  width: 80vw;
  top: 4rem;
  position: relative;
}
.title{
  text-align: left;
}
.Team-container .title{
    height: 10vh;
    font-family: 'Unbounded';
    font-weight: normal;
    width: fit-content;
    margin-top: 0rem;
    position: absolute;
    top: -3.5rem;
    left: 1.5rem;
    color: white;
}
.MuiGrid-root.MuiGrid-item{
  padding-left: none;
}
.Team-individual{
  padding: 1em;
  
}
.Team-Flex{
  display: flex;
  align-items: flex-start;
  flex-direction:row;
  justify-content: center;
}

.Team-Img{
  border-radius: 50%;
  max-height: 20vh;
  max-width: 20vw;
  overflow: hidden;
  filter: drop-shadow(0px 0px 10px #FF5E54) saturate(150%);
}
.Team-Name{
  color: #FFFFFF;
  font-family: 'Unbounded';
}
/*MOBILE VIEWPORTS*/
@media screen and (min-width: 300px) and (max-width: 880px) {
  .MainPage{
    overflow-y: hidden;
    display: block;
  }
  .Main-video{
    padding-left: 0;
    position:sticky;
    left:0;
    z-index: 1;
    overflow: hidden;
  }
  .Main-video:-webkit-scrollbar {
    display: none;
   
  }
  .Main-text{
    left:auto;
    padding-left: 1em;
    font-size: smaller;
    z-index: 3;
    transform: scale(80%);
  }
  .title-flair{
    display: block;
  }

  .Main-footer{
    display: block;
    padding-right: 1rem;
  }
  .Main-footerlink{
    margin: -1rem;
    padding-left: 1rem;
  }
  .Main-text-background{
    margin-left: 1rem;

  }
  .NavBar{
    display: flex;
    align-items: center;
  }
  .nav-items{
    margin-top: 3.5em;

  }
  .nav-items > li{
    margin-right: 0.8vw;
    font-size: 0.8rem;
    border: hidden;
  }
  .registerButton{
    border-radius: 3rem;
    padding: 0;
    text-align: center;
    font-size: 1em;
    width: 4rem;
  }
  .registerButton:hover{
    background-color: #FFFFFF;
    color:#AD0624;
    border: 0.18rem solid #AD0624;
    cursor: pointer;
  }
  .Team-Flex{
    flex-direction: column;
    height: fit-content;
  }
  .Team-container .title{
    height: 0;
    padding-bottom: 3em;
    padding-left: 0;
    left: 0;
  }
  .Team-Img{
    overflow: visible;
    max-width: none;
  }
  .Team-Name{
    padding-top: 5em;
  }
  .Team-individual{
    display: flex;
    margin-bottom: 2em;
    gap:5vw;
  }
  .Team-container{
    height: max-content;
  }
  .MuiGrid-root.Team-Flex{
    display: block;
    columns: 1;
    gap: 0rem;
   
  }
  .Tracks-Flex{
    display: inline-block;
  }
  .Track-Card{
    width: auto;
  }
  .Tracks{
    height: auto;
    margin-top: 0;
    padding-top: 0;
    z-index: 3;
    position: relative;
  }
  .Tracks-title .title{
    text-align: left;
    padding-left:1.5em;
    position:initial;
  }
  .Tracks-title {
    margin-left: 7%;
  }
  .FAQ-accordion{
    position: relative;
    flex-direction: column;
  }
  .MuiGrid2-root.FAQ-grid{
    display: block;
    columns: 1;
    gap: 0rem;
   
  }
  .FAQ-accordion{
    width: 80vw;
  }
  .FAQ{
    position: relative;
    z-index: 3;
    text-align: left;
  }
  .Footer-Vector{
    padding-left: 3em;
  }
  .Footer-socialmedia{
    padding-left: 1.5em;
  }
  .Footer-container{
    padding-top: 3vh;
  }
  .Footer-description{
    padding-left: 2em;
  }
  .Sponsors-Logo{ 
    margin-top: 15vh;
    width: 80vw;
  }
  .Tracks{
    padding-bottom: 0;
  }
  .Track-Card{
    max-width: 70vw;
  }
  .Track-Logo{
    height: auto;
    width: auto;
  }
}
